body {
    font-family: sans-serif;
    background-color: #353238;
    margin: 0px;
}

h1 {
    text-align: center;
    color: white;
}

header {
    background-color: black;
    padding: 10px;
    margin-bottom: 40px;
}

header img {
    width: 50px;
}

div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

iframe {
    margin: 10px;
}

footer p {
    color: white;
}

footer {
    background-color: black;
    padding: 10px;
}
